/*
	Blue color scheme for Catch Box
*/

/* =Global
----------------------------------------------- */

body {
	background-color: #42a2ce;
}
#branding ul.menu li,
#branding #access-secondary ul.menu li {
    border-left: 1px solid #1b4266;
}
#branding #access,
#colophon #access-footer,
#branding ul.menu ul a {
	background: #1b4266; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#255a8c, #1b4266);
	background: -o-linear-gradient(#255a8c, #1b4266);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#255a8c), to(#1b4266)); /* older webkit syntax */
	background: -webkit-linear-gradient(#255a8c, #1b4266);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#255a8c', endColorstr='#1b4266'); /* for IE */
}
#branding ul.menu ul a {
	color: #fff;
}
#branding ul.menu li:hover > a,
#branding ul.menu a:focus,
#colophon #access-footer ul.menu a:hover,
#colophon #access-footer ul.menu a:focus {
	background: #286298; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#1b4266, #286298);
	background: -o-linear-gradient(#1b4266, #286298);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1b4266), to(#286298)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#1b4266, #286298);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b4266', endColorstr='#286298'); /* for IE */
	color: #fff;
}
.mobile-menu-anchor a.genericon-menu:hover,
.mobile-menu-anchor a.genericon-menu:focus,
.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: #1b4266;
	color: #fff;
}
#access-secondary {
    background-color: #255a8c;
}
#branding #access-secondary ul.menu a {
    color: #fff;
}
#colophon #access-footer ul.menu li {
    border-left: 1px solid #1b4266;
}
#branding #access, #colophon #access-footer {
	border-bottom: 1px solid #1B4266;
	margin-bottom: 0;
}
#content #infinite-handle span button,
.wp-block-button__link {
	background-color: #255a8c;
}
#content #infinite-handle span button:hover,
#content #infinite-handle span button:focus,
.wp-block-button__link:hover,
.wp-block-button__link:focus {
	background-color: #1b4266;
}

/* Mobile Menu */
.menu-access-wrap {
    background-color: #255a8c;
}
.toggled-on #access,
.toggled-on #access ul.menu a,
.toggled-on #access-secondary,
.toggled-on #access-secondary ul.menu a,
#colophon .toggled-on #access-footer,
#colophon .toggled-on #access-footer ul.menu a,
.dropdown-toggle {
	background: none;
	background-color: #255a8c;
	border: none;
}
.toggled-on #access ul.menu li:hover > a,
.toggled-on #access ul.menu a:focus,
.toggled-on #access-secondary ul.menu li:hover > a,
.toggled-on #access-secondary ul.menu a:focus,
#colophon .toggled-on #access-footer ul.menu li:hover > a,
#colophon .toggled-on #access-footer ul.menu a:focus,
.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background: none;
	background-color: #1b4266;
}
.toggled-on #access ul.menu li,
#branding .toggled-on #access-secondary ul.menu li,
#colophon .toggled-on #access-footer ul.menu li {
	border-left: none;
}